---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import TextSection from "../components/TextSection.astro";
import CTASection from "../components/CTASection.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/img/green-coat-2-kids.jpg";
import { renderMarkdoc } from "../utils/markdoc";

const page = await getEntry("pages", "home");
const { sections } = page?.data || { sections: [] };
---

<Layout title="Home">
	<section class="relative aspect-[3000/1465] flex flex-col items-center justify-center gap-6 md:gap-12 text-center text-white bg-primary-blue">
		<Image
			src={heroImage}
			alt="Alysse and students"
			class="absolute inset-0 w-full h-full object-cover opacity-75"
			widths={[400, 768, 1024, 1280]}
			sizes="(max-width: 768px) 100vw, (max-width: 1024px) 768px, 1024px"
		/>
		<h1 class="text-3xl md:text-8xl font-bold z-1">
			Quality & Equality
		</h1>

		<div class="text-lg leading-[120%] md:text-2xl font-bold z-1 max-w-[80%] mx-auto">
			The future of California goes to school every morning.
			<br>
			The quality of our future depends on the quality &mdash; and the equality &mdash; of those schools.
		</div>
	</section>

	{
		sections?.map((section) => {
			if (section.discriminant === "textSection") {
				const htmlContent = section.value.content ? renderMarkdoc(section.value.content) : "";
				return (
					<TextSection
						heading={section.value.heading}
						backgroundColor={section.value.backgroundColor}
						maxWidth={section.value.maxWidth === "small" ? "narrow" : section.value.maxWidth === "large" ? "wide" : "medium"}
					>
						<Fragment set:html={htmlContent} />
					</TextSection>
				);
			}

			if (section.discriminant === "htmlBlock") {
				return <Fragment set:html={section.value.html} />;
			}

			if (section.discriminant === "cta") {
				return (
					<CTASection
						heading={section.value.heading}
						description={section.value.description}
						backgroundColor={section.value.backgroundColor}
						primaryButtonText={section.value.primaryButtonText}
						primaryButtonLink={section.value.primaryButtonLink}
						secondaryButtonText={section.value.secondaryButtonText}
						secondaryButtonLink={section.value.secondaryButtonLink}
					/>
				);
			}
		})
	}
</Layout>
