---
import { Image } from "astro:assets";
import {
  homeURL,
  aboutURL,
  issuesURL,
  endorsementsURL,
  resourcesURL,
  donateURL,
} from "../utils/urls";
import reelectLogo from "../assets/img/reelect-logo.png";

const navItems = [
  { href: homeURL, label: "Home" },
  { href: aboutURL, label: "Alysse" },
  { href: issuesURL, label: "Issues" },
  { href: endorsementsURL, label: "Endorsements" },
//  { href: volunteerURL, label: "Volunteer" },
  { href: resourcesURL, label: "Resources" },
  { href: donateURL, label: "Donate" },
];
---

<header>
  <div class="container mx-auto px-4 md:px-8 py-4 flex justify-between items-center">
    <a href={homeURL}>
      <Image
        src={reelectLogo}
        alt="Alysse Castro"
        class="w-[200px] max-w-[50cqw] md:w-[300px] md:max-w-[25cqw] "
      />
    </a>
    <nav class="hidden md:flex gap-[clamp(.25rem,2cqw,1.5rem)] pl-6">
      {
        navItems.map((item) => (
          <a
            href={item.href}
            class="text-text-body hover:text-primary-blue font-medium transition-colors"
          >
            {item.label}
          </a>
        ))
      }
    </nav>
    <button
      id="mobile-menu-btn"
      class="md:hidden text-text-body focus:outline-none"
      aria-label="Toggle menu"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="hidden md:hidden bg-white border-y border-gray-100 shadow-md"
  >
    <div class="container mx-auto py-2 flex flex-col space-y-2">
      {
        navItems.map((item) => (
          <a
            href={item.href}
            class="block px-4 py-2 text-text-body hover:text-primary-blue hover:bg-primary-lime/30 font-medium transition-colors"
          >
            {item.label}
          </a>
        ))
      }
    </div>
  </div>
</header>

<script>
  const btn = document.getElementById("mobile-menu-btn");
  const menu = document.getElementById("mobile-menu");

  if (btn && menu) {
    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  }
</script>
